/*Colors*/
:root {
  --dark-blue: #1F2937;
  --white: #F9FAF8;
  --grey: #E5E7EB;
  --dark-grey: #808080;
  --light-blue: #3882F6;
  --transparent-light-blue: #3882F630;
  /*Colors for filter tags*/
  --tag-green: #178600;
  --tag-purple: #563d7c;
  --tag-black: #292929;
  --tag-red: #bd2c00;
  --tag-yellow: #f1e05a;
}

.dark-blue-background {
  background-color: var(--dark-blue);
}

.dark-blue-text {
  color: var(--dark-blue);
}

.white-background {
  background-color: var(--white);
}

.white-text {
  color: var(--white);
}

.light-blue-border {
  border-color: var(--light-blue);
}

.icon-container:hover,
.trans-light-blue-background {
  background: var(--transparent-light-blue);
}

.light-blue-text {
  color: var(--light-blue);
}

.grey-background {
  background: var(--grey);
}

/*Items*/
.page {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
}

.socials {
  max-width: 335px;
}

.headshot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.section-margins {
  margin: 16px;
}

.section-width {
  min-width: 384px;
  max-width: 1200px;
}

.project-screenshot {
  width: 384px;
}

.project-container {
  width: 390px;
  position: relative;
}

.screenshot-container {
  width: 384px;
  height: 216px;
  margin: 8px 0px;
  border-radius: 10px;
  border-color: var(--light-blue);
  background-color: var(--dark-blue);
}

.project-screenshot {
  border-radius: 10px;
}

.project-screenshot:hover {
  opacity: 0.6;
}

.icon-container {
  min-width: 42px;
  height: 42px;
}

.icon {
  width: 24px;
  height: auto;
  opacity: 1;
}

.header-padding {
  padding: 16px;
}

.header-text-size {
  font-size: 36px;
}

.sub-header-text-size {
  font-size: 24px;
}

.standard-header-text-size {
  font-size: 18px;
}

.standard-text-size {
  font-size: 15px;
}

.info-row,
.indent {
  padding-left: 8px;
}

.info-row {
  gap: 8px;
  align-items: baseline;
}

.project-gap {
  gap: 14px;
}

.social-gap {
  gap: 32px;
}

.link {
  height: 24px;
}

.tags {
  margin-top: 2px;
}

.tag-container {
  margin: 2px;
  padding: 2px 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
}

.tag {
  font-size: 12px;
  /*color: var(--white);*/
}

.language-border-color {
  border-color: var(--tag-green);
  /*background-color: var(--tag-green);*/
}

.library-border-color {
  border-color: var(--tag-yellow);
}

.pattern-border-color {
  border-color: var(--tag-red);
}

.tool-border-color {
  border-color: var(--tag-purple);
}

/* Container Attributes */

/*Flex container attributes*/

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

/*Flex container children attributes*/

.fully-center,
.justify-content-center {
  justify-content: center;
}

.justify-content-right {
  justify-content: right;
}

.fully-center,
.align-items-center {
  align-items: center;
}

.baseline {
  align-items: baseline;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-items-stretch {
  align-items: stretch;
}

.wrap {
  flex-wrap: wrap;
}

.reverse-wrap {
  flex-wrap: wrap-reverse
}

/*Box model attributes*/

.border-box {
  box-sizing: border-box;
}

.no-margin {
  margin: 0px;
}

.no-border {
  border: none;
}

.border {
  border-style: solid;
}

.border-bottom {
  border-bottom-style: solid;
}

.rounded-corners-5 {
  border-radius: 5px;
}

.rounded-corners-10 {
  border-radius: 10px;
}

.stretch {
  align-self: stretch;
}

.flex-3 {
  flex: 3;
}

.flex-2 {
  flex: 2;
}

.flex-1 {
  flex: 1;
}

.flex-0 {
  flex: 0;
}

/*Content attributes*/

.center {
  align-self: center;
}

.center-text {
  text-align: center;
}

.right-justify {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}